 
# Ignore Python cache files
*.pyc
*.pyo
*.pyd

# Ignore virtual environment folders
venv/
ENV/
.venv/
env/

# Ignore IDE/editor settings
.vscode/
.idea/

# Ignore system files
.DS_Store
Thumbs.db

dist/
_pycache_/
build/
__pycache__/
